<head>
    <style type="text/css">
        .help {
            font-size:50px;
            margin-left: auto;
            margin-right auto;
            text-align: center;
        }
    </style>
</head>
<div>
    <div class="span-24 help">
        <div>Have you tried turning it off and on again?</div>
    </div>
</div>