@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);

body {
    background-color: #F5F5F5;
    height: 100%;
}

.body {
    margin: 5px 10px;
}

hr.hrStyleOne {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}

.headerContainer {
    width: 100%;
    border-style: solid;
    border-width: thin;
    background-color: #144057;
    line-height: 60px;
    color: #FFFFFF;
}

.headerContainer a {
    color: #93D2FF;
    font-size: 24px;
    font-family:'Roboto', sans-serif;
}

.site-title {
    margin-left: 10px;
    margin-right: 10px;
}

.checked {
    text-decoration: line-through;
}

.checked a {
    color: gray;
}

.col {
    color:#FFFFFF;
    float: left;
    background-color: #696663;
    width: 250px;
    height: 100%;
    padding: 2px;
    border: solid;
    margin: 1px;
    display: block;
}

.col a {
    color: #93D2FF;
}

.colTitle {
    font-weight: bold;
    text-align:center;
}

.colDates {
    text-align: center;
}

.colActions {
    text-align: center;
}

.sprintIndexContainer {
    width: 2000px;
    margin-left: auto;
    margin-right: auto;
}

.scroller {
    width:100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.storyContainers {
    min-height: 200px;
    width: 100%;
    background-color: #E2E2E2;
}

.sortableEntry {
    margin: 3px;
}

.sortableEntry .portlet-header {
    height: auto;
    min-height: 30px;
    border: 1px solid black;
    word-wrap: break-word;
    text-align: center;
    background-color: #9a4138;
}


.sortableEntry .portlet-header:hover {
    background-color: #b16860;
    cursor: pointer;
}
.portlet-content {
    border: 1px solid black;
    border-top: none;
    padding: 6px;
    background-color: #e1a8a0;
    color: black;
    word-wrap: break-word;
}


/* portlet-only stuff */
.portlet:not(.active) .portlet-content {
    display: none;
}
.portlet .portlet-toggle {
    float: right;
    width: 16px;
    height: 16px;
    margin: 7px 5px;
    background-image: url("//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-darkness/images/ui-icons_222222_256x240.png");
}
.portlet.active .portlet-toggle {
    background-position: -64px -128px;
}
.portlet:not(.active) .portlet-toggle {
    background-position: -32px -128px;
}

.storyContainerPH {
    height: auto;
    min-height: 30px;
    border: 2px dashed black;
    word-wrap: break-word;
    margin: 1px;
    text-align: center;
    background-color: #D18880;
    opacity: 0.3;
}

.sortableEntry a, .storyContainerPM a{
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.taskList {
    display: block;
    margin-left: 50px;
    margin-right: auto;
}

.taskItem {
    border: 1px solid #696663;
    line-height: 30px;
    margin-top:5px;
    margin-bottom:5px;
}

.descriptionContainer {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
    text-align:justify;
    display:inline-block;
}