.checked {
    text-decoration: line-through;
}

.checked a {
    color: gray;
}

.col {
    float: left;
    background-color: #C9D7ED;
    padding: 2px;
    border: solid;
    margin: 2px;
    -moz-border-radius: 15px;
    border-radius: 15px; 
}

ul.storyContainers {
    min-height: 10px;
}
