@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);

body {
    background-color: #F5F5F5;
    height: 100%;
}

.body {
    margin: 5px 10px;
}

.headerContainer {
    width: 100%;
    border-style: solid;
    border-width: thin;
    background-color: #144057;
    line-height: 60px;
    color: #FFFFFF;
}

.headerContainer a {
    color: #93D2FF;
    font-size: 24px;
    font-family:'Roboto', sans-serif;
}

.site-title {
    margin-left: 10px;
    margin-right: 10px;
}

.checked {
    text-decoration: line-through;
}

.checked a {
    color: gray;
}

.col {
    color:#FFFFFF;
    float: left;
    background-color: #696663;
    width: 250px;
    height: 100%;
    padding: 2px;
    border: solid;
    margin: 1px;
    display: block;
}

.col a {
    color: #93D2FF;
}

.colTitle {
    font-weight: bold;
    text-align:center;
}

.colDates {
    text-align: center;
}

.colActions {
    text-align: center;
}

.sprintIndexContainer {
    width: 2000px;
    margin-left: auto;
    margin-right: auto;
}

.scroller {
    width:100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.storyContainers {
    min-height: 200px;
    width: 100%;
    background-color: #E2E2E2;
}

.sortableEntry {
    height: auto;
    min-height: 30px;
    border: 1px solid black;
    word-wrap: break-word;
    margin: 1px;
    text-align: center;
    background-color: #9a4138;
}

.storyContainerPH {
    height: auto;
    min-height: 30px;
    border: 2px dashed black;
    word-wrap: break-word;
    margin: 1px;
    text-align: center;
    background-color: #D18880;
    opacity: 0.3;
}

.sortableEntry a, .storyContainerPM a{
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.sortableEntry:hover {
    background-color: #d18880;
    cursor: pointer;
}

