<header class="headerContainer">            
    <div>
        <span class="site-title">@Html.ActionLink("Tasky", "Index", "Home") | @Html.ActionLink("Help", "Index", "Home")</span>
    </div>  
</header>